<h2>Idea details</h2>
<div class="well" ng-controller="ideaDetailsCtrl">
	<h3>Name</h3>
	<div class="form-group">			
		<label name="title" class="form-control" ng-bind="data.selectedIdea.name" />			
	</div>
	<h3>Category</h3>
	<div class="form-group">		
		<label name="category" class="form-control" ng-bind="data.selectedIdea.category" />
	</div>
	<h3>Description</h3>
	<div class="form-group">	
		<label name="description" class="form-control" ng-bind="data.selectedIdea.description"/>
	</div>
	<h3>Author</h3>
	<div class="form-group">		
		<label name="author" class="form-control" ng-bind="data.selectedIdea.author" />
	</div>	
	<h3>Votes</h3>
	<div class="form-group">		
		<label name="votes" class="form-control" ng-bind="data.selectedIdea.votes" />
	</div>		
	<div class="text-center">
		<button ng-click="removeIdea()" class="btn btn-danger">Delete the idea</button>
	</div>
</div>
