<div class="panel panel-default row" ng-hide="data.error">

	<div class="col-xs-1">
		<div>
			<h3>Filters</h3>
			<input class="form-control" placeholder="Search..." ng-model="query"></input>
			
		</div>
		<a ng-click="selectCategory()" ng-class ="getCategoryClass(item)" class="btn btn-block btn-default btn-sm" >All</a>
		<a ng-repeat="item in data.ideas | orderBy:'category' | unique:'category'" ng-class ="getCategoryClass(item)"
		   ng-click= "selectCategory(item)" class= "btn btn-block btn-default btn-sm" >
		   {{item}}
		</a>
	</div>
	<div class="col-xs-4">
		<h3>Idea list</h3>
		<div class="well " ng-repeat ="item in data.ideas | orderBy:'votes':true | filter : categoryFilterFn | range :selectedPage:pageSize " ng-click="getIdeaDetails(item)">
			<h4>
				<strong>{{item.name}}</strong>
				<span class="pull-right label label-primary">
					{{ item.votes.length}}
				</span>
			</h4>
			<button ng-click="upVote(item)" class="btn btn-success pull-right">
				Vote for this
			</button>
			<span>{{item.description}}</span>
		</div>
		<div>
			<a ng-repeat= "page in data.ideas | filter : categoryFilterFn | pageCount:pageSize"
				ng-click="selectPage($index + 1)" class="btn btn-default btn-sm" ng-class="getPageClass($index + 1)">
				{{$index + 1}}
			</a>
		</div>
	</div>
	<div class="col-xs-5">
		<div ui-view/>
	</div>
</div>