<div ui-view/>
<h2>Idea details</h2>
<div class="well">
	<h3>Name</h3>
	<div class="form-group">			
		{{data.selectedIdea.name}}		
	</div>
	<h3>Category</h3>
	<div class="form-group">		
		{{data.selectedIdea.category}}
	</div>
	<h3>Description</h3>
	<div class="form-group">	
		{{data.selectedIdea.description}}
	</div>
	<h3>Author</h3>
	<div class="form-group">		
		{{data.selectedIdea.author}}
	</div>	
	<h3>Votes</h3>
	<div class="form-group">		
		{{data.selectedIdea.votes}}
	</div>		
	<div class="text-center">
		<button ng-click="removeIdea(data.selectedIdea._id)" class="btn btn-danger">Delete the idea</button>
	</div>
</div>
